.title{
    text-align: center;
    margin-top: 50px;
    font-size: 3em;
    color: rgb(222, 132, 225);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jokeContainer{
    text-align: center;
    margin: 20px;
    color: rgb(83, 51, 208);
    font-size: 2em;
    height: 20vh; 
}
.btn{
    height: 50px;
    width: 200px;
    background-color: rgb(78, 196, 238);
    border-radius: 10px;
    border: none;
    color: white;
    margin-top: 50px;
}

.voteBtn{
    background-size: 40px 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    margin: 0 20px;

}

#vote1{
    background-image: url("./img/sad.png");
}
#vote2{
    background-image: url("./img/neutral.png");
}
#vote3{
    background-image: url("./img/happy.png");
}

.voted{
    background-color: rgb(179, 239, 15);
}

.weatherContainer{
    font-size: 1.8em;
    padding: 20px;
    display: flex;
    align-items: center;
}

.body0{
    background: 
        url(./img/blob8.svg) center / 700px no-repeat,
        url(./img/blob2.svg) bottom left / 200px no-repeat,
        url(./img/blob5.svg) top right / 300px no-repeat
        ;
}

.body1{
    background: 
        url(./img/blob0.svg) center / 700px no-repeat,
        url(./img/blob2.svg) bottom left / 200px no-repeat,
        url(./img/blob2.svg) top right / 300px no-repeat
        ;
}

.body2{
    background: 
        url(./img/blob2.svg) center / 700px no-repeat,
        url(./img/blob4.svg) bottom left / 200px no-repeat,
        url(./img/blob4.svg) top right / 300px no-repeat
        ;
}

.body3{
    background: 
        url(./img/blob4.svg) center / 700px no-repeat,
        url(./img/blob6.svg) bottom left / 200px no-repeat,
        url(./img/blob8.svg) top right / 300px no-repeat
        ;
}

.body4{
    background: 
        url(./img/blob6.svg) center / 700px no-repeat,
        url(./img/blob9.svg) bottom left / 200px no-repeat,
        url(./img/blob10.svg) top right / 300px no-repeat
        ;
}

.body5{
    background: 
        url(./img/blob8.svg) center / 700px no-repeat,
        url(./img/blob0.svg) bottom left / 200px no-repeat,
        url(./img/blob2.svg) top right / 300px no-repeat
        ;
}

.body6{
    background: 
        url(./img/blob10.svg) center / 700px no-repeat,
        url(./img/blob2.svg) bottom left / 200px no-repeat,
        url(./img/blob4.svg) top right / 300px no-repeat
        ;
}

.body7{
    background: 
        url(./img/blob1.svg) center / 700px no-repeat,
        url(./img/blob5.svg) bottom left / 200px no-repeat,
        url(./img/blob3.svg) top right / 300px no-repeat
        ;
}

.body8{
    background: 
        url(./img/blob5.svg) center / 700px no-repeat,
        url(./img/blob7.svg) bottom left / 200px no-repeat,
        url(./img/blob9.svg) top right / 300px no-repeat
        ;
}

.body9{
    background: 
        url(./img/blob6.svg) center / 700px no-repeat,
        url(./img/blob3.svg) bottom left / 200px no-repeat,
        url(./img/blob0.svg) top right / 300px no-repeat
        ;
}